DB_PASSWORD=postgres
KEYCLOAK_ADMIN_PASSWORD=admin
ACEX_ENCRYPTION_KEY=L50Zqr1VmsqTpbByFqXHJx1PIrp3ICZRGDf8Bo7pRh4=

INFLUXDB_PASSWORD=adminpassword
INFLUXDB_TOKEN=acex-dev-token

GRAFANA_PASSWORD=admin

VAULT_TOKEN=acex-vault-token
ACEX_AGENTS_SECRET=acex-agents-secret

# Set after creating collection and telemetry agents in ACEX
COLLECTION_AGENT_ID=
TELEMETRY_AGENT_ID=
